.flash {
    position: fixed;
    width: calc(99vw - 20px);
    z-index: 100;
    top: 5px;
    left: 10px;
    animation-name: fadeInWaitFadeOut;
    animation-duration: 6s;
}

@keyframes fadeInWaitFadeOut {
    0% {
        opacity: 0;
        transform: scale(0.96);
    }

    33.33% {
        opacity: 1;
        transform: scale(1);
    }

    /* hold at 1 from ~33% (3s) to ~66% (6s) */
    66.66% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.94);
    }
}